body{
    font-family: 'Roboto', sans-serif;
}
.bg-gray{
    background-color: #f7f7f7;
}
/*iconos de quienes somos*/
.icono{
    height: 140px;
    width: 140px;
    border-radius: 50%;
}
.icono i{
    margin-top: 2.5rem;
}

/*imagenes terjetas*/
.card-img-top{
     height: 10em;
}
.bg-grayoscuro{
    background-color: #12379e;
}

